<div class="card h-100" >
  <%= image_tag list.photo.attached? ? cl_image_path(list.photo.key) : "https://loremflickr.com/520/240/#{list.name}", class: "card-img-top card-list-img" %>
  <div class="card-body">
    <%= link_to list.name, list_path(list), class: "text-decoration-none" %>
  </div>
</div>
