<div class="card h-100" style="width: 18rem;">
  <%= image_tag list.photo.attached? ? cl_image_path(list.photo.key) : "https://loremflickr.com/520/240/#{list.name}", class: "card-img-top" %>
  <div class="card-body">
    <h2><%= list.name %></h2>
  </div>
</div>
