<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @lists.each do |list| %>
      <div class="col">
        <%= render "list_info", list: list %>
      </div>
    <% end  %>
  </div>
</div>
