<div class="container mt-3">
  <div class="d-flex justify-content-center">
    <div class="row gap-3">
      <% @lists.each do |list| %>
        <div class="col">
          <%= render "list_info", list: list %>
        </div>
      <% end  %>
    </div>
  </div>
</div>
