<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
<div class="watch_list">
  <% @lists.each do |list| %>
    <div class="" style="width: 18rem;">
      <div class="" style="height: 300px; background-size: cover; background-repeat: no-repeat; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : "https://loremflickr.com/520/240/#{list.name}" %>)">
      </div>
      <div class="">
        <div class=""><%= link_to list.name, list_path(list) %>
        </div>
      </div>
    </div>
  <% end  %>
</div>
