<div class="container mt-3">
  <div class="d-flex justify-content-between pt-3">
    <h1><%= @list.name %></h1>
    <div class="d-flex gap-2">
      <div>
        <%= link_to lists_path, class: 'btn btn-outline-success' do %>
          <i class="fa-solid fa-left-long"></i>
        <% end %>
      </div>
      <div>
        <%= link_to new_list_bookmark_path(@list), class: 'btn btn-outline-success' do %>
          <i class="fa-solid fa-plus"></i>
          <i class="fa-solid fa-film"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3">
    <div class="row gap-3">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col">
          <%= render "movie_info", bookmark: bookmark %>
        </div>
      <% end  %>
    </div>
  </div>
</div>
