<div class="container mt-3">
  <div class="btn-toolbar justify-content-between pt-3">
    <div class="btn-group">
      <h1><%= @list.name %></h1>
    </div>
    <div class="btn-group">
      <p><%= link_to 'Go to Lists', lists_path, class: 'btn btn-outline-success'%></p>
    </div>
  </div>
  <div class="row justify-content-between pt-3">
    <div class="col-4">
      <p><%= link_to 'Add Movie', new_list_bookmark_path(@list), class: 'btn btn-outline-success'%></p>
    </div>
  </div>
</div>
