<div class="container mt-3">
  <div class="d-flex justify-content-between pt-3">
    <h1><%= @list.name %></h1>
    <div class="d-flex gap-2">
      <div>
        <%= link_to lists_path, class: 'btn btn-outline-success' do %>
          <i class="fa-solid fa-left-long"></i>
        <% end %>
      </div>
      <div>
        <%= link_to new_list_bookmark_path(@list), class: 'btn btn-outline-success' do %>
          <i class="fa-solid fa-plus"></i>
          <i class="fa-solid fa-film"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col">
        <div class=" d-flex ">
          <%= render "movie_info", bookmark: bookmark %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
