// Define variables for your color scheme

// For example:
$red: #B00E2E;
$nude: #FEE5CA;
$white: #FFFFFF;
$green: #2A6F67;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
