<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= render 'lists/svg/icon' %>
    <% end %>
    <div class="d-md-flex gap-2">
      <div>
        <form class="d-md-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div>
        <%= link_to new_list_path, class: 'btn btn-outline-success' do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
</nav>
