<div class="top-nav" id="myTopnav">
  <div>
    <%= render 'lists/svg/icon' %>
  </div>
  <div class="top-nav-list">
    <%= link_to "Lists", lists_path, class: "" %>
    <%= link_to "Create List", new_list_path, class: "" %>
  </div>
</div>
